body {
    font-family: 'Inter', sans-serif;
    background-color: #1a202c; /* Dark background */
}

/* Style the progress bar track */
input[type="range"]::-webkit-slider-runnable-track {
    background: #4a5568;
    height: 4px;
    border-radius: 9999px;
}

input[type="range"]::-moz-range-track {
    background: #4a5568;
    height: 4px;
    border-radius: 9999px;
}

/* Style the progress bar thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #8b5cf6;
    border-radius: 50%;
    margin-top: -4px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #8b5cf6;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/* Style for the volume slider */
#volume-bar::-webkit-slider-thumb {
    width: 8px;
    height: 8px;
    margin-top: -2px;
}

#volume-bar::-moz-range-thumb {
    width: 8px;
    height: 8px;
}

/* Highlight current lyric line */
.lyric-active {
    color: #8b5cf6;
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#player-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

/* Styles for the minimized state */
#player-container.minimized {
    width: 200px; /* Adjust as needed */
    opacity: 0.4;
}

/* Styles for the header when minimized */
#player-container.minimized #player-header {
    /* background-color: #3b3b3b; */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#player-container.minimized #player-header h3 {
    font-size: 1rem;
    font-weight: bold;
}
#player-container.minimized #player-content {
    display: none;
}

/* Hide the main controls when minimized */
#player-container .main-controls {
    display: flex;
}

#player-container.minimized .main-controls {
    display: none;
}

/* New styles for the mini controls */
.mini-controls {
    display: none; /* Initially hidden in expanded view */
}

#player-container.minimized .mini-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5rem;
}

#player-container:not(.minimized) #toggle-icon {
    transform: rotate(0deg);
}

#player-container.minimized #toggle-icon {
    transform: rotate(180deg);
}
